body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.top-bar {
	background-color: #273242;
	color: white;
	height: 60px;
	text-align: center;
}

.dim-screen {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.expenses-add {
	margin: 10px 30px;
}

.expenses-container {
	margin: 10px 30px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.selected {
	background: yellow;
}
